In [1060]:
import pandas as pd
from IPython.display import Image
from google.oauth2 import service_account
contratos =pd.read_csv('arquivo/tabela_contratos.csv')
contratos

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,fk_empresa_contratada
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,1
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,2
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,10,33,3
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,6,33,4
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,8,35,5
...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,208,243,65
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,209,244,17
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,212,246,66
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,213,247,67
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,214,248,68

In [1061]:
datas=pd.read_csv('arquivo/tabela_datas.csv')
datas

     id_data        data
0          1  20/05/2014
1          2  27/09/2014
2          3  28/11/2014
3          4  20/12/2014
4          5  28/12/2014
..       ...         ...
249      250  24/10/2019
250      251  24/10/2020
251      252  05/11/2020
252      253  23/01/2020
253      254  31/09/2017

[254 rows x 2 columns]

In [1062]:
empresas=pd.read_csv('arquivo/tabela_empresas.csv')
empresas

    id_empresa       nome_empresa
0            1   Thomas Jefferson
1            2      Chaveiro City
2            3       HBL Carimbos
3            4          Claro S/A
4            5  Imprensa Nacional
..         ...                ...
63          64     Nara Comercial
64          65            SESI-DF
65          66              FORMA
66          67      IG Elevadores
67          68  Serôa Construtora

[68 rows x 2 columns]

In [1063]:
# transformação dos dados  inner join das duas tabelas
contratos_mod=contratos.merge(empresas,
                               left_on='fk_empresa_contratada',
                               right_on='id_empresa',
                               how='left')
contratos_mod

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,fk_empresa_contratada,id_empresa,nome_empresa
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,1,1,Thomas Jefferson
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,2,2,Chaveiro City
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,10,33,3,3,HBL Carimbos
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,6,33,4,4,Claro S/A
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,8,35,5,5,Imprensa Nacional
...,...,...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,208,243,65,65,SESI-DF
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,209,244,17,17,Central IT
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,212,246,66,66,FORMA
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,213,247,67,67,IG Elevadores
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,214,248,68,68,Serôa Construtora

In [1064]:
## retira campos retira tabelas não necessarias na tabela
contratos_mod.drop(columns=['id_empresa','fk_empresa_contratada'],inplace=True)
contratos_mod

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,nome_empresa
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,Thomas Jefferson
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,Chaveiro City
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,10,33,HBL Carimbos
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,6,33,Claro S/A
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,8,35,Imprensa Nacional
...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,208,243,SESI-DF
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,209,244,Central IT
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,212,246,FORMA
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,213,247,IG Elevadores
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,214,248,Serôa Construtora

In [1065]:
# transformação dos dados  inner join das duas tabelas
contratos_final=contratos_mod.merge(datas,
                               left_on='inicio_vigencia',
                               right_on='id_data',
                               how='left')
contratos_final.drop(columns=['id_data','inicio_vigencia'],inplace=True)
contratos_final.head(5)  #ultimas 5 linhs

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,termino_vigencia,nome_empresa,data
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,32,Thomas Jefferson,20/12/2014
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,33,Chaveiro City,26/02/2015
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,33,HBL Carimbos,10/02/2015
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,33,Claro S/A,01/01/2015
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,35,Imprensa Nacional,27/01/2015

In [1066]:
contratos_final.rename(columns={'data':'data_inicio_vigencia'},inplace=True) # renomear coluna
contratos_final

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,termino_vigencia,nome_empresa,data_inicio_vigencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,32,Thomas Jefferson,20/12/2014
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,33,Chaveiro City,26/02/2015
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,33,HBL Carimbos,10/02/2015
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,33,Claro S/A,01/01/2015
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,35,Imprensa Nacional,27/01/2015
...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,243,SESI-DF,24/07/2020
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,244,Central IT,27/07/2020
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,246,FORMA,19/08/2020
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,247,IG Elevadores,31/08/2020
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,248,Serôa Construtora,08/09/2020

In [1067]:
# transformação dos dados  inner join das duas tabelas
contratos_final2=contratos_final.merge(datas,
                               left_on='termino_vigencia',
                               right_on='id_data',
                               how='left')
contratos_final2.drop(columns=['id_data','termino_vigencia'],inplace=True)
contratos_final2.rename(columns={'data':'data_termino_vigencia'},inplace=True)
contratos_final2.head(5)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_termino_vigencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,20/12/2014,19/12/2015
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,26/02/2015,31/12/2015
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,10/02/2015,31/12/2015
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,01/01/2015,31/12/2015
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,27/01/2015,26/01/2016

In [1068]:
contratos_final2.count()

id_contrato              184
nome_contrato            184
objeto_contrato          184
valor_contrato           184
nome_empresa             184
data_inicio_vigencia     184
data_termino_vigencia    184
dtype: int64

In [1069]:
contratos_final2.dtypes

id_contrato                int64
nome_contrato             object
objeto_contrato           object
valor_contrato           float64
nome_empresa              object
data_inicio_vigencia      object
data_termino_vigencia     object
dtype: object

In [1070]:
contratos_final2.data_inicio_vigencia=pd.to_datetime(contratos_final2.data_inicio_vigencia,
                                                      format='%d/%m/%Y').dt.date

contratos_final2.data_termino_vigencia=contratos_final2.data_termino_vigencia.str.replace('31/09/2017','30/09/2017')
contratos_final2.data_termino_vigencia=pd.to_datetime(contratos_final2.data_termino_vigencia,
                                                      format='%d/%m/%Y').dt.date

In [1071]:
contratos_final2

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_termino_vigencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,2014-12-20,2015-12-19
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,2015-02-26,2015-12-31
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,2015-02-10,2015-12-31
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,2015-01-01,2015-12-31
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,2015-01-27,2016-01-26
...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,SESI-DF,2020-07-24,2021-07-24
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,Central IT,2020-07-27,2021-07-27
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,FORMA,2020-08-19,2021-08-19
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,IG Elevadores,2020-08-31,2021-08-31
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,Serôa Construtora,2020-09-08,2021-09-08

In [1072]:
#nova coluna tempo de contrato

contratos_final2

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_termino_vigencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,2014-12-20,2015-12-19
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,2015-02-26,2015-12-31
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,2015-02-10,2015-12-31
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,2015-01-01,2015-12-31
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,2015-01-27,2016-01-26
...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,SESI-DF,2020-07-24,2021-07-24
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,Central IT,2020-07-27,2021-07-27
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,FORMA,2020-08-19,2021-08-19
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,IG Elevadores,2020-08-31,2021-08-31
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,Serôa Construtora,2020-09-08,2021-09-08

In [1073]:
contratos_final2.reset_index(drop=True,inplace=True)
contratos_final2.tail()

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_termino_vigencia
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,SESI-DF,2020-07-24,2021-07-24
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,Central IT,2020-07-27,2021-07-27
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,FORMA,2020-08-19,2021-08-19
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,IG Elevadores,2020-08-31,2021-08-31
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,Serôa Construtora,2020-09-08,2021-09-08

In [1074]:
##carregamento dos dados
credentials=service_account.Credentials.from_service_account_file(filename='GBQ.json',
                                                                 scopes=["https://www.googleapis.com/auth/cloud-platform"])

In [1075]:
# criar tabela do zero
project_id = "meus-projetos-403821" ## projeto
table_id = 'Dashbord.contratos_csv' # tabela de destino no dataset
contratos_final2.to_gbq(table_id, 
                        project_id=project_id,
                        if_exists='replace',
                         table_schema=[{'name':'data_inicio_vigencia','type':'DATE'},
                                      {'name':'data_termino_vigencia','type':'DATE'}],
                        credentials=credentials)